/*Media Query*/

@media (max-width: 768px) {
	
	#aboutUs {
		top: 500px;
		
	}

	.about_w{
		font-size: 3em;
		position: absolute;
		display: block;
		top: 70%;
		left: 50%;
		margin-left: -120px;
	}

	.center{
		max-width: 95%;
	}

	.shiwen, .pinchen{
		width: 280px;
	}

	.photo_s:hover, .photo_p:hover{
		width: 290px;
		height: 290px;		
	}

	#aboutUs .center span{
		margin-top: 20px;
	}

	#say{
		top: 490px;
	}

	#say p{
		font-size: 1em;
	}

	#poster{
		height: 350px;
		margin-top: 480px;
	}

	.poster_auto{
		width: 100%;
	}

	.poster01, .poster02, .poster03, .poster04{
		width: 150px; 
		height: 302px; 
		margin: 40px 0.6em;
	}

	.poster01{
		margin-left: 40px;
	}

	#video iframe{
		margin-left: -300px; 
	}

#noise{
	margin-top: 0px;
	padding-top: 100px;
}

#noise_img{
	width: 90%;

}

#product{
	margin-top: 680px; 
	height: 500px;
}

#product .pro_bg{
	background-size: contain;
	height: 450px;
}

#product .money{
	top: 10px;
	margin-left: -50px;
}

#product .box{
	width: 40%;
	height: 50%;
	top: 140px;
	margin-left: -200px;	
}




}



}